html {
	background: linear-gradient(131.77deg, rgba(255, 255, 255, 0.7) 2.9%, rgba(233, 177, 254, 0.7) 18.38%, rgba(85, 138, 255, 0.498889) 49.52%, rgba(0, 188, 212, 0.483) 87.53%);
	height: 100vh;
	width: 100vw;
	/*overflow: hidden;*/
}

/* General Classes*/

.padded { padding: 1.5em !important; }
.no-padding { padding: 0 !important; }

.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0; }
.no-margin-bottom { margin-bottom: 0; }

.full-width { width: 100%; }
.full-height { height: 100%; }
.absolute { position: absolute; }

/* Buttons */

.btn-link {
	border: none !important;
	background-color: transparent !important;
	color: #03a9f4;
	cursor: pointer;
}

.fixed-action-btn{
	position: absolute;
	top: 0px;
	right: 5px;
}

.fixed-action-btn.direction-left ul {
	right: 36px;
	top: -8px;
}

/* Inputs */

.disabled-text { padding-bottom: 1em !important; }

/* Sidenav */

.sidenav { width: 220px; }
.with-sidenav { margin-left: 270px; }

.swal2-content .select-wrapper { display: none; }
